// Override template styles or write your custom styles
.tc-title {
  color: #fff !important;
  font-weight: 700;
  font-size: 4rem !important;
  text-transform: uppercase;
  line-height: 1.1;
  text-shadow: 1px 1px 7px transparent;
  display: flex;
  justify-content: center;
  margin-top: 18rem;
  background: rgb(255, 255, 255, 0.1);
}

.tc-footer-layout {
  padding: 2rem !important;
}

.tc-ds-layout {
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  -o-border-radius: 0px !important;
}

.icon-space {
  padding: 1rem;
  margin: 1rem;
}

.tc-appbar {
  background: rgb(255, 255, 255, 0.93) !important;
}

.icon-width {
  width: 170px !important;
}

.right-space {
  padding-right: 8px !important;
}